html {
	margin:auto;
	max-width: 680px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h2 {
    font-size: 32px;
	text-align: center;
	color: #222;
	margin: 0 0 30px;
}

#execute {
	margin-top: 5px;;
	width: 10%;
	min-width:100px;
}

.CodeMirror {
  border: 1px solid #222;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.error {
	color:red;
	transition:.5s;
	overflow:hidden;
}

#output {
	overflow: auto;
}

table {
	width:100%;
	margin:auto;
	border:1px solid black;
 	border-collapse:collapse;
 	margin-bottom:10px;
    table-layout: fixed;
}

th, td {
	border:1px solid #777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.min {
    width: 90px;
}

.coin-image {
	width:50%;
    display: inline-block;
}

.coin-image img {
	max-width:100%;
    display: block;
    margin: auto;
}

.coin-images {
	width:100%;
}

.coin-images img {
	max-width:100%;
    display: block;
    margin: auto;
}
