html {
	margin:auto;
	max-width: 680px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h2 {
    font-size: 32px;
	text-align: center;
	color: #222;
	margin: 0 0 30px;
}

.error {
	color:red;
	transition:.5s;
	overflow:hidden;
}

#output {
	overflow: auto;
}

table.table {
	width:100%;
	margin:auto;
	border:1px solid black;
 	border-collapse:collapse;
 	margin-bottom:10px;
    table-layout: fixed;
}

table.table tr.row {
    cursor:pointer;
}

table.table th, td {
	border:1px solid #777;
}

td div.title, td div.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
td.image {
    width: 90px;
    overflow: hidden;
}
td.status {
    width: 60px;
}

table.info {
	border: none;
	width:100%;
}

table.info td {
	border:none;
    width: 100%;
}

table.info td.min {
    width: 1%;
}

.coin-image {
	width:50%;
    display: inline-block;
    cursor:pointer;
}

.coin-image img {
	max-width:100%;
    display: block;
    margin: auto;
}

.coin-images {
	width:100%;
}

.coin-images img {
	max-width:100%;
    display: block;
    margin: auto;
}
