/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol {
  list-style: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

#github-page p {
  margin: 10px 0 15px 0;
}

#github-page p.title-language {
  margin-bottom: 20px;
}

#github-page footer p {
  color: #f2f2f2;
}

#github-page a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

#github-page a:hover, a:focus {text-decoration: underline;}
#github-page a.title-link {text-decoration: none; color: #fff;}

#github-page footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

#github-page em {
  font-style: italic;
}

#github-page strong {
  font-weight: bold;
}

p img {
  display: inline;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

#github-page ul, ol, dl {
  margin-bottom: 15px
}

ul {
  padding-left: 30px;
}

#github-page ol {
  list-style: decimal inside;
  padding-left: 20px;
}

#github-page dl dt {
  font-weight: bold;
}

#github-page dl dd {
  padding-left: 20px;
  font-style: italic;
}

#github-page dl p {
  padding-left: 20px;
  font-style: italic;
}

#github-page hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 830px;
  padding: 10px 10px 10px 175px;
  margin: 0 auto;
}

.inner-image {
  position: relative;
  max-width: 880px;
  padding: 10px 210px 10px 25px;
  margin: 0 auto;
}

div.content {
  max-width: 680px;
  display: inline-block;
  min-height: 145px;
}

div.content-image {
  width: 200px;
  display: inline-block;
  float: left;
}

div.content-image img {
  padding-top: 10px;
  padding-right: 10px;
  float: right;
  height: 150px;
}

.video {
  max-width: 420px;
  width: 100% !important;
}

img.img-logo {
  padding-left: 5px;
  padding-right: 5px;
}

img.mobile-screenshot {
  max-width: 330px;
  padding-right: 8px;
  vertical-align: top;
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 5px 10px 30px 25px;
  max-width: 680px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0 0 10px;
}

#project_tagline {
  color: #fff;
  font-size: 21px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0 0 10px;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  padding-top: 15px;
  padding-bottom: 15px;
}

#footer_wrap {
  background: #212121;
  clear: both;
}

.title-box {
  display: inline;
}
.title-text {
  line-height: 1.4;
  display:inline-block;
}
.title-logo {
  line-height: 1;
  margin-right: 1em;
  display:inline-block;
}
.title-social {
  line-height: 1;
  width: 24px;
  display: inline-block;
  float: right;
  margin-left: 1em;
  margin-top: -16px;
}
.title-language {
  color: #474747;
}

.toc {
  float: right;
  display: inline-block;
  max-width: 150px;
  width: 100%;
}

.toc ul {
  list-style-type: none;
  padding-left: 10px;
  font-weight: bolder;
}

.inner-content {
  max-width: 680px;
}

div.inline {
  display: inline;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 1131px) {
.inner-image {
  max-width: 680px;
  padding: 10px 10px 10px 25px;
  clear: both;
}

div.content {
  min-height: auto;
  display: auto;
}

div.content-image {
  width: auto;
  display: auto;
  float: center;
}

div.content-image img {
  padding: 0;
  float: none;
  height: 250px;
}
}

@media screen and (max-width: 1030px) {
.toc {
  float: none;
}

.toc ul {
  padding-left: 0;
}

.inner {
  max-width: 680px;
  padding: 10px 10px 10px 25px;
}
}

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}

#logo {
   background-image: url(/images/logo.png);
   background-size: 72px;
   height: 72px;
   width: 72px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)  {
   #logo {
     background-image: url(/images/logo@2x.png);
   }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* Next & previous buttons */
a.prev, a.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease !important;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
a.next {
  right: 0 !important;
  border-radius: 3px 0 0 3px !important;
}

/* On hover, add a black background color with a little bit see-through */
a.prev:hover, a.next:hover {
  background-color: rgba(0,0,0,0.5) !important;
  text-decoration: none !important;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
  text-align: center;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 500;
    line-height: 1;
    padding: 0.1em 0.4em;
    white-space: nowrap;
    font-family: monospace;
}

samp {
    background-color: #f0f0f0;
    border-radius: 2px;
    border: 1px solid #ddd;
    padding: 1px 4px;
    font-family: monospace;
    font-size: 0.9em;
    white-space: nowrap;
}

.title-h3 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    color: #222222;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

summary {
    cursor: pointer;
}
